# dependencies
/node_modules

# production
/.next
/out

# testing
/coverage

# environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# vercel (if using Vercel deployment)
.vercel